<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div style=" flex-direction: column-reverse; width: 200px" th:each="el : ${post}">
  <form method="post">
    <input style="height: 19px" type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи">
    <p></p>
    <input style="height: 19px" type="text" th:value="${el.anons}" name="anons" placeholder="Введите анос статьи">
    <p></p>
    <textarea style="width: 350px; height: 150px" name="full_text" th:value="${el.full_text}" placeholder="Введите текст статьи"></textarea>
    <p></p>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>