<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание профиля</title>
</head>
<body>
<h2>Создание профиля</h2>
<div style=" flex-direction: column-reverse; width: 200px">
<form th:action="${'/blog/profile'}" method="post">
    <p> Введите никнейм: <p/>
    <input type="text" name="nik" placeholder="Никнейм">
    <p> Введите Фамилию: <p/>
    <input type="text" name="surname" placeholder="Фамилия">
    <p> Введите Имя: <p/>
    <input type="text" name="name" placeholder="Имя">
    <p> Введите Отчество: <p/>
    <input type="patron" name="patron" placeholder="Отчество">
    <p> Введите информацию о себе: <p/>
    <textarea name="yourself" placeholder="краткость - сестра таланта"></textarea>
    <p> Введите информацию о возрасте: <p/>
    <input type="number" name="age" placeholder="Возраст">
    <br><br>
    <button type="submit" style="border-radius: 12px; border: none; font-size: 19px;
    margin:4px 2px; background-color: lightblue">Создать профиль</button>
</form>
</div>
<div th:each="el : ${profile}">
    <div style="display: flex; flex-direction: row">
        <label for="nik" style="margin-right: 10px">Ник:</label>
        <p id='nik' th:text="${el.nik}" style="margin: 0px; font-weight: bold"></p>
    </div>
    <div style="display: flex; flex-direction: row">
        <label for="surname" style="margin-right: 10px" >Фамилия:</label>
        <p id='surname' th:text="${el.surname}" style="margin: 0px"></p>
    </div>

    <div style="display: flex; flex-direction: row">
        <label for="name" style="margin-right: 10px">Имя:</label>
        <p id='name' th:text="${el.name}" style="margin: 0px"></p>
    </div>

    <div style="display: flex; flex-direction: row">
        <label for="patron" style="margin-right: 10px" >Отчество:</label>
        <p id='patron' th:text="${el.patron}" style="margin: 0px"></p>
    </div>

    <div style="display: flex; flex-direction: row">
        <label for="yourself" style="margin-right: 10px" >Текст:</label>
        <p id='yourself' th:text="${el.yourself}" style="margin: 0px"></p>
    </div>

    <div style="display: flex; flex-direction: row">
        <label for="age" style="margin-right: 10px" >Возраст:</label>
        <p id='age' th:text="${el.age}" style="margin: 0px"></p>
    </div>
    <a th:href="'/blog/profile/' + ${el.id}">Подробнее</a>
    <p>===================</p>
</div>
</body>
</html>