<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:each="el : ${profile}">
  <form method="post">
    <input type="text" th:value="${el.nik}" name="nik" placeholder="Введите ник">
    <input name="surname" th:value="${el.surname}" placeholder="Введите фамилию">
    <input type="text" th:value="${el.name}" name="name" placeholder="Введите имя">
    <input type="text" th:value="${el.patron}" name="patron" placeholder="Введите отчество">
    <textarea th:value="${el.yourself}" name="yourself" placeholder="Введите текст"></textarea>
    <input type="number" th:value="${el.age}" name="age" placeholder="Возраст">
    <br>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>